<!DOCTYPE html>
<html>
<head>

<meta http-equiv="context-type" content="text/html" charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="/{{ mobile }}main.css">

<title>About airtrack</title>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59043644-1', 'auto');
  ga('send', 'pageview');
</script>

</head>

<body>

<h1><a href="/"><font color="DimGray">airtrack的博客</font></a></h1>
<a href="/"><font color="CornflowerBlue">HOME</font></a>
&nbsp; &nbsp; &nbsp; &nbsp;
<a href="/about.html"><font color="CornflowerBlue">ABOUT</font></a>
<hr>

<ul>
    <li>邮箱: airtrack.sk(at)gmail(dot)com</li>
    <li>github:<a href="https://github.com/airtrack" target="_blank"> github.com/airtrack</a></li>
    <li>微博:<a href="http://weibo.com/u/2258096562" target="_blank"> @airtrack</a></li>
    <li>熟悉C++和Lua</li>
    <li>了解Haskell、Scheme、Rust</li>
    <li>接触过不少语言</li>
    <li>写过解释器</li>
    <li>正在写玩具操作系统</li>
    <li>懂点分布式后台开发</li>
    <li>也做过游戏开发</li>
</ul>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'airtrack-blog';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<script type="text/javascript">
var disqus_shortname = 'airtrack-blog';
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

</body>

</html>
